.example-form{

  padding: 20px;
}
input{
  color: rgb(0, 0, 0);
}
.main{
 padding: 20px;
 background-color: #4cadd2d9;
 border: 1px solid #000;

}
.card{
  padding: 30px;
  border: 1px solid #000;
  background-color: #4cadd2d9;
}
