
<br>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h1 class="text-uppercase">Anket Hazırlama Portalı </h1>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Anketler</h5>

        <ul class="list-unstyled">
          <li>
            <a >Anket 1</a>
          </li>
          <li>
            <a >Anket 2</a>
          </li>
          <li>
            <a >Anket 3</a>
          </li>
          <li>
            <a >Anket 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Anketler</h5>

        <ul class="list-unstyled">
          <li>
            <a >Anket 5</a>
          </li>
          <li>
            <a>Anket 6</a>
          </li>
          <li>
            <a >Anket 7</a>
          </li>
          <li>
            <a >Anket 8</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a > Anket-portalı.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
