
.container2{

height: 600px;
background-color: #4cadd2d9;
border: 1px solid #000;
}
.row2{
  position:absolute;
  top:40%;
  left:40%;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;

}
.border1{
  border: 1px solid #000;
  margin: 10px 0;
}
