
      <section class="section">
     <div class="container">
       <div class="row">
        <p >Sitemizde; </p>
        <p class="ss">Oluşturma; </p>
        <ul>
          <li class="list-group-item list-group-item-info">Tek Soruluk Anket Oluşturma</li>
          <li class="list-group-item list-group-item-info">Form Anket Oluşturma</li>
        </ul>
        <p>Olmak Üzere  İki Çeşit Anket Oluşturma Yolu Bulunmaktadır.</p>
         <p class="ss">Katılım Olarak; </p>
         <ul>
           <li class="list-group-item list-group-item-info">Tek Soruluk Ankete Katılım</li>
           <li class="list-group-item list-group-item-info">Form Ankete Katılım</li>
         </ul>
         <p>Olmak Üzere  İki Çeşit Ankete Katılım  Yolu Bulunmaktadır.</p>
       </div>
      </div>
         <div class="container">
           <div class="row">
            <p class="ss">Sonuçlar;</p>
            <ul>
              <li class="list-group-item list-group-item-info">Tek Soruluk Ankete Katılım</li>
              <p>Tek soruluk anket sonuçları ayrı olarak tablolaştırılmıştır.</p>
              <p>Tabloda Bulunanlar;</p>
              <ul>
                <li class="list-group-item list-group-item-success">Cevap Seçenekleri</li>
                <li class="list-group-item list-group-item-info">Oy Sayısı</li>
                <ul>
                  <li >oy sayısının yanında bulunan icon tabloda sıralama yapmak için kullanılabilir</li>
                </ul>
                <li class="list-group-item list-group-item-info">Oy Yüzdesi</li>
                <ul>
                  <li >oy yüzdesinin yanında bulunan icon tabloda sıralama yapmak için kullanılabilir</li>
                </ul>
                <li class="list-group-item list-group-item-info">Ankete Katılanların İsimleri </li>

              </ul>
              <br>
              <li class="list-group-item list-group-item-info">Form Ankete Katılım</li>
              <p>Form anket sonuçları ise anket sanki bir sınavmış gibi,</p>
              <p>Çoktan seçmeli sorular tarzında ve cevaplama eyleminden sonra,</p>
              <p>doğru ve yanlış olmaları halinde alt tarafta tanımladığımız alanda gözükecektir</p>
              <ul>
                <li class="list-group-item list-group-item-danger">Uyarı</li>
                <p>Form anket , formik bir yapıda olduğu için cevaplama esnasında diğer soruları henüz,</p>
                <p>Cevaplanmamışsa , formik yapıdan kaynaklanan bir aksaklık oluşuyor,</p>
                <p>Aksalık; 1. soruyu çözerken diğer sorular için cevaplamayı boş olarak gördüğünden yanlış cevap uyarısı vermektedir.</p>

              </ul>
            </ul>
           </div>
          </div>


      </section>







