input{
    width: 100%;
    background-color: #fff;

}

label{
    font-size: 18px;
}
h6{
    font-size: 18px;
}
h3{
    font-size: 18px;
    font-weight: bold;

}
hr{
    color: #000;
    border: 2px solid #000;
}
.container{
  background-color: #4cadd2d9;
  padding: 50px;
  border: 1px solid #000;
}
