
<div class="container">
  <br>
  <div class="example-button-container">
    <button mat-fab color="accent" (click)="anketEkle()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <br>
  <table class="table table-hover">
    <thead>

      <th>Id</th>
      <th>Soru</th>


    </thead>
    <tbody>
      <tr *ngFor="let anket of anketler">

        <td >{{anket.ID}} </td>
        <td >{{anket.Question}} </td>


        <td >

          <button mat-icon-button color="warn" (click)="anketDuzenle(anket)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="anketSil(anket)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>


      </tr>
    </tbody>

  </table>



  </div>

